/* Site-wide styles */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif; }

a {
  cursor: pointer; }

/* Element styles */
#reset {
  position: relative;
  top: 2em; }

.download-upload-buttons {
  float: right; }

p#dateError {
  color: red;
  font-weight: bold;
  display: none; }

span#errmsg {
  color: blue; }

header.navigation {
  background-color: #5179b6;
  border-bottom: 1px solid #3f5481;
  min-height: 60px;
  width: 100%;
  z-index: 999;
  font-family: "Karla", "Open Sans", "Helvetica", "Arial", sans-serif;
  margin-bottom: 1em; }
  header.navigation .navigation-wrapper {
    position: relative; }
  header.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  header.navigation .logo {
    float: left;
    max-height: 40px;
    padding: 0.6em 1em; }
    header.navigation .logo img {
      max-height: 40px; }
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: visible;
    width: 100%; }
  header.navigation nav {
    float: left;
    min-height: 60px;
    z-index: 9999999; }
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    z-index: 9999; }
    header.navigation ul li.nav-link a {
      padding-right: 1em;
      color: #fff;
      display: inline-block;
      text-decoration: none; }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: rgba(255, 255, 255, 0.7); }

#load img {
  margin-left: 1em; }

input#loadNumber {
  margin-left: 1em;
  display: inline-block;
  width: 4em; }

input.psk-select {
  display: inline-block;
  width: 58%;
  margin-left: 1%; }

ul#pretty-list {
  list-style-type: none;
  padding-left: 1em; }

#dateEstimations {
  float: right;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 1em;
  line-height: 1.2em; }
  #dateEstimations h3 {
    color: blue; }

.modal-header {
  background-color: #5179b6;
  color: #fff; }

.close {
  color: #fff;
  opacity: .8; }

.close:focus,
.close:hover {
  color: #ddd; }

.dimensions-preview .add-dimensions {
  position: absolute;
  left: 45%;
  top: 35%; }

.dimensions-preview .remove-dimensions {
  position: absolute;
  left: 45%;
  bottom: 20%; }

.dimensions-preview .select-before {
  width: 44%;
  display: inline-block; }

.dimensions-preview .select-after {
  width: 45%;
  float: right;
  display: inline-block; }

.dimensions-preview .labels h5 {
  display: inline-block; }

.dimensions-preview .labels .selected-label {
  float: right; }

.code-edit {
  width: 48%;
  display: inline-block; }

.codeDisplay {
  width: 48%;
  display: inline-block;
  float: right; }

.content-modal-content {
  min-width: 900px;
  left: -20%; }

.content-modal-footer {
  clear: both; }

.brandingBckgrndColor {
  background-color: #d92c27; }

.link-color {
  color: #d92c27; }

.shortDescription {
  height: 90px;
  width: 380px; }

.moreInformation {
  margin: 0px;
  min-height: 450px;
  min-width: 366px;
  max-width: 366px;
  max-height: 450px;
  background-color: white; }

select.eid-select {
  display: inline-block;
  width: 40%; }

span#progress {
  margin-left: 1em; }

.table th,
.table td {
  vertical-align: middle; }

#table-container {
  max-height: 24em;
  overflow: auto;
  margin: 1em 0; }
  #table-container table td:first-child {
    width: 10em;
    text-align: center;
    padding: 0; }
  #table-container table td:nth-child(5), #table-container td:nth-child(6) {
    width: 15%; }
  #table-container table td:nth-child(4) {
    width: 20%; }
  #table-container .count-box {
    display: inline-block;
    width: 3.6em;
    vertical-align: middle;
    text-align: center; }

table#challenge-list {
  margin-bottom: 2em; }
