/* Element styles */
header.navigation {
  background-color: #5179b6;
  border-bottom: 1px solid #3f5481;
  min-height: 60px;
  width: 100%;
  z-index: 999;
  font-family: "Karla", "Open Sans", "Helvetica", "Arial", sans-serif; }
  header.navigation .navigation-wrapper {
    position: relative; }
  header.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  header.navigation .logo {
    float: left;
    max-height: 40px;
    padding: 0.6em 1em; }
    header.navigation .logo img {
      max-height: 40px; }
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: visible;
    width: 100%; }
  header.navigation nav {
    float: left;
    min-height: 60px;
    z-index: 9999999; }
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    z-index: 9999; }
    header.navigation ul li.nav-link a {
      padding-right: 1em;
      color: #fff;
      display: inline-block;
      text-decoration: none; }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: rgba(255, 255, 255, 0.7); }

#table-container {
  max-height: 290px;
  overflow: auto;
  border-bottom: 1px solid #000;
  margin-bottom: 0.5em; }
  #table-container .table {
    border: 1px solid #000;
    border-bottom: none;
    margin-bottom: 0; }
  #table-container th {
    border-bottom: 1px solid #000; }
  #table-container th,
  #table-container td {
    padding: 5px;
    border-right: 1px solid #000;
    vertical-align: middle; }
  #table-container th:last-child,
  #table-container td:last-child {
    border-right: none; }
  #table-container table td:first-child {
    width: 128px; }
  #table-container table td:nth-child(2) {
    width: 20%; }
  #table-container table td:nth-child(4),
  #table-container table td:nth-child(5) {
    min-width: 150px; }
  #table-container th button {
    padding: 3px 5px;
    margin-left: 5px; }
  #table-container .countX {
    margin: 4px; }
  #table-container .countBox {
    border: 1px solid #DDD;
    width: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle; }

input {
  border: 1px solid #ddd; }

#eidContainer input:first-child {
  width: 225px; }

#eidContainer input:last-child {
  width: 325px;
  margin-left: 50px; }

.modal-header {
  background-color: #5179b6;
  color: #fff; }

.close {
  color: #fff;
  opacity: .8; }

/* Whole page styles - deprecated */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #463e38; }

hr {
  margin: 25px 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#wrapper {
  padding: 20px 25px; }

#progress {
  margin-left: 5px; }

#exclusive {
  width: auto;
  margin-left: 5px; }

#file-name,
#eid,
#date-begin,
#date-end,
#search {
  width: 200px;
  margin-left: 15px; }

#idList {
  display: none; }

#load-compiler {
  margin-left: 240px; }

#pretty-list {
  list-style-type: none;
  padding-left: 20px; }

#dateError {
  color: red;
  font-weight: bold;
  display: none; }

#errmsg {
  color: blue; }

#date-begin {
  margin-left: 8px; }

#reset {
  margin-left: 35px; }

#build-table {
  position: absolute;
  right: 50px; }

#loadNumber {
  margin-left: 10px; }

a {
  cursor: pointer; }

a:hover {
  color: #ddd; }

.close:focus,
.close:hover {
  color: #ddd; }

#challenge-list {
  border: 1px solid #000;
  margin-bottom: 20px; }
  #challenge-list th {
    border-bottom: 1px solid #000; }
  #challenge-list th,
  #challenge-list td {
    border-right: 1px solid #000;
    vertical-align: middle; }
  #challenge-list input[type=date] {
    width: 150px;
    display: block; }

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(176, 176, 176, 0.8);
  z-index: 900;
  position: fixed;
  top: 0px;
  left: 0px; }

.dimenPreview {
  width: 26%;
  height: 200px;
  border: 2px solid #FFF;
  position: fixed;
  top: 42%;
  left: 37%;
  background-color: grey; }
  .dimenPreview a {
    margin-left: 80%;
    margin-top: 5px;
    font-weight: bold;
    color: lightblue; }
  .dimenPreview button {
    position: relative;
    bottom: 40%;
    left: 4%; }

.selectBf {
  margin-left: 5%;
  margin-top: 15px;
  width: 35%;
  height: 80%; }

.selectAf {
  margin-left: 8%;
  margin-top: 15px;
  width: 35%;
  height: 80%; }

.codePreview {
  width: 70%;
  height: 750px;
  border: 2px solid #FFF;
  position: fixed;
  top: 5%;
  left: 15%;
  background-color: grey;
  overflow-y: scroll; }
  .codePreview h3 {
    margin: 0.6em 0;
    color: #fff; }

.brandingBckgrndColor {
  background-color: #d92c27; }

.link-color {
  color: #d92c27; }

.codeEdit {
  width: 38%;
  height: 750px;
  margin-left: 5%; }

.shortDescription {
  height: 90px;
  width: 380px; }

.moreInformation {
  margin: 0px;
  min-height: 450px;
  min-width: 366px;
  max-width: 366px;
  max-height: 450px;
  background-color: white; }

.codeLive {
  width: 440px;
  max-height: 650px;
  margin-left: 51%;
  margin-top: -77%; }

.codeLiveDisplay {
  background-color: #F1F2F3;
  border: 1px solid #888;
  width: 440px;
  position: absolute;
  top: 25px;
  left: 47.5%;
  border-top-color: #999;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  color: #555;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px; }

#shortCut {
  background-color: #EEE;
  font-size: 0.9em;
  line-height: 1.2em;
  color: blue;
  position: absolute;
  top: 65px;
  right: 5px;
  padding: 0 15px; }
  #shortCut h3 {
    margin-top: 10px; }

.download {
  margin-left: 10%; }

.upload {
  margin-left: 2.5%; }

#remove-coaching {
  margin-left: 16px;
  position: relative;
  top: 2px;
  right: 2px; }

#welcome #eid, #welcome #psk {
  margin-left: 2%; }

#welcome #eid {
  width: 10%; }

#welcome #psk {
  width: 20%; }

.button {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
  line-height: 32px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #d92c27;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase; }

.linkSpec {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  padding: 0 8px; }
