html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $font-stack;
	font-size: $font-size;
	color: #463e38;
}

hr {
  margin: 25px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#wrapper {
  padding: 20px 25px;
}

#progress {
	margin-left: 5px;
}

#exclusive {
	width: auto;
	margin-left: 5px;
}

#file-name,
#eid,
#date-begin,
#date-end,
#search {
  width: 200px;
  margin-left: 15px;
}

#idList {
	display: none;
}

#load-compiler {
	margin-left: 240px;
}

#pretty-list {
  list-style-type: none;
  padding-left: 20px;
}

#dateError {
  color: red;
  font-weight: bold;
  display: none;
}

#errmsg {
  color: blue;
}

#date-begin {
  margin-left: 8px;
}

#reset {
	margin-left: 35px;
}

#build-table {
	position: absolute;
	right: 50px;
}

#loadNumber {
  margin-left: 10px;
}

.codePreview {
  width: 70%;
  height: 100%;
  border: 1px solid black;
  position: fixed;
  top: 5%;
  left: 15%;
  background-color: white;
  overflow: auto;

	h3 {
		margin: 0.6em 0;
	}

}

.codeEdit {
}

.codeLiveDisplay {
  top: 50px;
}

#linkSpec {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 32px;
	padding: 0 8px;
}

.brandingBckgrndColor {
  background-color: #d92c27;
}

.link-color {
  color: #d92c27;
}

.shortDescription {
  height: 90px;
  width: 380px;
}

.moreInformation {
  margin: 0px;
  min-height: 450px;
  min-width: 366px;
  max-width: 366px;
  max-height: 450px;
  background-color: rgb(255, 255, 255);
}
