#progress {
	margin-left: 5px;
}

#exclusive {
	width: auto;
	margin-left: 5px;
}

#file-name,
#eid,
#date-begin,
#date-end,
#search {
  width: 200px;
  margin-left: 15px;
}

#idList {
	display: none;
}

#load-compiler {
	margin-left: 240px;
}

#pretty-list {
  list-style-type: none;
  padding-left: 20px;
}

#dateError {
  color: red;
  font-weight: bold;
  display: none;
}

#errmsg {
  color: blue;
}

#date-begin {
  margin-left: 8px;
}

#reset {
	margin-left: 35px;
}

#build-table {
	position: absolute;
	right: 50px;
}

.codeEdit {
  width: 48%;
  display: inline-block;
}

.codeDisplay {
  width: 48%;
  display: inline-block;
  float: right;
}

.content-modal-content {
  min-width: 900px;
  left: -20%;
}

.content-modal-footer {
  clear: both;
}

#linkSpec {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 32px;
	padding: 0 8px;
}

.brandingBckgrndColor {
  background-color: #d92c27;
}

.link-color {
  color: #d92c27;
}

.shortDescription {
  height: 90px;
  width: 380px;
}

.moreInformation {
  margin: 0px;
  min-height: 450px;
  min-width: 366px;
  max-width: 366px;
  max-height: 450px;
  background-color: rgb(255, 255, 255);
}

.download-upload-buttons {
	float: right;
}
