@import 'variables';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $font-stack;
	font-size: $font-size;
	color: #463e38;
}

/* Element styles */
@import 'header';
@import 'table';
@import 'modal';
@import 'input';

/* Whole page styles - deprecated */
@import 'loader';
@import 'compiler';
