@import 'variables';

/* Site-wide styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $font-stack;
}

a {
	cursor: pointer;
}

/* Element styles */
@import '_button';
@import '_error';
@import '_header';
@import '_image';
@import '_input';
@import '_list';
@import '_misc';
@import '_modal';
@import '_select';
@import '_span';
@import '_table';
