#table-container {

  max-height: 390px;
  overflow: auto;
  margin-bottom: 1em;

	th,
	td {
		vertical-align: middle;
	}

	table td:first-child {
    width: 10em;
    text-align: center;
    padding: 0;
	}

	table td:nth-child(2) {
		width: 10%;
	}

	table td:nth-child(5), td:nth-child(6) {
		width: 15%;
	}

	table td:nth-child(4) {
		width: 20%;
	}

	th button {
		padding: 3px 5px;
		margin-left: 5px;
	}

  .count-box {
    display: inline-block;
    width: 3.6em;
    vertical-align: middle;
    text-align: center;
  }

}

table#challenge-list {

	margin-bottom: 2em;

	th,
	td {
		vertical-align: middle;
	}

}
