$font-stack: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-size: 16px;
$logotype-font: 'Karla', 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$main-color: #5179b6;
$accent-color: #3f5481;

$border-color: #ddd;
